.progress-bar {
    height: 30px;
    width: 300px;
    background-color: #d8d8d8;
    box-shadow: 0px 2px 2px -5px #585858, 0px 2px 5px #585858;
    border-radius: 20px;
    left: 50%;
    right: 50%;
    z-index: 9;
}

.progress {
    height: 100%;
    width: 0px;
    background-color: #00adb981;
    box-shadow: 0px 2px 2px -5px #00adb981, 0px 2px 5px #00adb981;
    background-image: linear-gradient(to left, #00adb981, #00eeffec);
    display: flex;
    float:left;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 1s ease 0.3s;
}

.outerPercentage {
    float: left;
    line-height: 30px;
    margin-left: 2px;
}

.fadeOut {
    opacity: 0;
    animation: fade 2s linear;
}

@keyframes fade {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}
